/** @define FskCheckbox; */

/* stylelint-disable-next-line */
.FskCheckbox + .FskFormElementLabel {
  color: var(--fsk-input-checkbox-label-color);
  display: flex;
  font-size: var(--fsk-input-checkbox-label-font-size);
  font-weight: var(--fsk-input-checkbox-label-font-weight);
  padding-bottom: 0;
}

/* stylelint-disable-next-line */
.FskCheckbox + .FskFormElementLabel::before {
  border: var(--fsk-input-checkbox-border);
  content: "";
  display: block;
  flex-shrink: 0;
  height: var(--fsk-input-checkbox-size);
  margin: var(--fsk-input-checkbox-margin);
  width: var(--fsk-input-checkbox-size);
}

.FskCheckbox:not([disabled]) + .FskFormElementLabel:hover::before,
.FskCheckbox:not([disabled]):focus + .FskFormElementLabel::before {
  box-shadow: var(--fsk-input-checkbox-shadow);
}

.FskCheckbox:not([disabled]):checked + .FskFormElementLabel::before {
  background: var(--fsk-input-checkbox--checked-bg-color)
    var(--fsk-input-checkbox--checked-bg-image);
  background-repeat: no-repeat;
  background-size: contain;
  border-color: var(--fsk-input-checkbox--checked-border-color);
}

.FskCheckbox:disabled + .FskFormElementLabel::before {
  background: var(--fsk-input-checkbox--disabled-bg-color);
  border-color: var(--fsk-input-checkbox--disabled-border-color);
}

.FskCheckbox:disabled + .FskFormElementLabel .FskFormElementLabel-text {
  opacity: var(--fsk-input-checkbox--disabled-label-opacity);
}

/* stylelint-disable-next-line */
.FskCheckbox.error + .FskFormElementLabel::before {
  border: var(--fsk-input-checkbox--error-border);
}
