@import "./input--checkbox/input--checkbox.css";
@import "./input--radio/input--radio.css";
@import "./input--range/input--range.css";

/** @define FskInput; */

.FskInput:not(.FskInput--checkbox):not(.FskInput--radio):not(.FskInput--range) {
  border: var(--fsk-input-border-width) solid var(--fsk-input-border-color);
  color: var(--fsk-input-color);
  font-family: var(--fsk-input-font-family);
  font-size: var(--fsk-input-font-size);
  line-height: var(--fsk-input-line-height);
  padding: var(--fsk-input-padding);
  width: 100%;
}

.FskInput:not([type="checkbox"]):not([type="radio"]):not([type="select"]):not([type="range"]):not([type="file"]) {
  appearance: none;
  border-radius: 0;
}

.FskInput--textarea {
  height: var(--fsk-input-textarea-height);
  resize: none;
}

.FskInput:not([disabled]):hover,
.FskInput:not([disabled]):focus {
  box-shadow: var(--fsk-input-box-shadow);
}

.FskInput:not([disabled]):focus {
  border-bottom: var(--fsk-input--focus-border-width) solid var(--fsk-input--focus-border-color);
  outline: 0;
  padding-bottom: var(--fsk-input--focus-padding-bottom);
}

.FskInput:disabled {
  background: var(--fsk-input--disabled-bg-color);
  opacity: var(--fsk-input--disabled-bg-opacity);
}

.FskInput:not(.FskInput--checkbox):not(.FskInput--radio).error {
  border-bottom: var(--fsk-input--error-border-width) solid var(--fsk-input--error-border-color);
  padding-bottom: var(--fsk-input--error-padding-bottom);
}

.FskInput::placeholder {
  color: var(--fsk-input-placeholder-color);
  opacity: var(--fsk-input-placeholder-opacity);
}
