/** @define FskPager; */

.FskPager {
  font-size: var(--fsk-pager-font-size);
  margin: var(--fsk-pager-margin);
}

.FskPager-items {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.FskPager-item {
  display: inline-block;
  margin: var(--fsk-pager-item-margin);
  vertical-align: top;
}

.FskPager-item:not(.FskPager-item--ellipsis) {
  border: var(--fsk-pager-item-border);
  box-shadow: var(--fsk-pager-item-box-shadow);
}

.FskPager-item--ellipsis {
  margin: var(--fsk-pager-item--ellipsis-margin);
}

.FskPager-item--active {
  background: var(--fsk-pager-item--active-bg-color);
  border-color: var(--fsk-pager-item--active-border-color);
}

.FskPager-link {
  color: inherit;
  display: block;
  line-height: var(--fsk-pager-line-height);
  padding: var(--fsk-pager-link-padding);
  text-decoration: none;
}

.FskPager-link--active {
  background-color: currentColor;
}

.FskPager-link--active .FskPager-number {
  color: var(--fsk-pager-link--active-color);
}
