/**
 * Main wrapper of vertical tabs.
 * This wrapper div is added by JavaScript.
 */

.vertical-tabs {
  border-top: 1px solid transparent; /* Need to hide the pane wrapper clearfix's height */
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

@media screen and (-ms-high-contrast: active) {
  .vertical-tabs {
    border-color: transparent;
  }
}

/**
 * Vertical tabs menu.
 */

.vertical-tabs__menu {
  color: #222330;
  display: none;
  float: left; /* LTR */
  list-style: none;
  margin: 0;
  padding-top: 0.5rem;
  position: relative;
  width: 20em;
}

@media screen and (min-width: 85em) {
  .vertical-tabs__menu {
    display: block;
    width: 20em;
  }
}

/**
 * Vertical tabs menu item.
 */

.vertical-tabs__menu-item {
  margin: -1rem -1px -0.5rem -0.5rem; /* LTR */
  overflow: hidden;
  padding: 0.5rem 0 0.5rem 0.5rem; /* LTR */
}

/**
 * These are the (grey) lines that are visually separating the vertical tab menu
 * items.
 */

.vertical-tabs__menu-item::before,
.vertical-tabs__menu-item::after {
  border-top: 1px solid #d4d4d8;
  display: block;
  margin-top: -1px;
  position: absolute;
  width: 100%;
  z-index: 1; /* The line should be kept above the vertical tabs menu link to keep it visible even if the link is hovered and gets the 'hover' background color. */
}

/**
 * This pseudo element covers the gray separator line of the vertical tab menu
 * item that follows the active one.
 *
 * Without this, we would have a lightgray line at the bottom-left (LTR) corner
 * of the active vertical tab menu item.
 *
 * Let's call this 'masking' line.
 */

.vertical-tabs__menu-item::after {
  border-color: #fff;
  z-index: 2;
}

/**
 * Making the separator line visible only if it follows an unhidden menu item.
 */

.vertical-tabs__menu-item:not(.vertical-tabs__menu-item--hidden)
  ~ .vertical-tabs__menu-item::before {
  content: "";
}

/* Menu item states. */

.vertical-tabs__menu-item:focus {
  box-shadow: none;
  outline: 0;
}

.vertical-tabs__menu-item.is-selected::before,
.vertical-tabs__menu-item:not(.vertical-tabs__menu-item--hidden)
  ~ .vertical-tabs__menu-item.is-selected::before {
  content: normal;
}

/* Make the white masking line displayed for the selected menu item. */

.vertical-tabs__menu-item.is-selected::after {
  content: "";
}

/**
 * Anchor link inside the vertical tabs menu item.
 */

.vertical-tabs__menu-link {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px; /* LTR */
  border-width: 1px 0 1px 4px; /* LTR */
  color: #222330;
  display: block;
  hyphens: auto;
  margin-top: -1px;
  padding: 0.75rem 0.75rem 0.75rem calc(1.5rem - 4px); /* LTR */
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
}

@media screen and (-ms-high-contrast: active) {
  .vertical-tabs__menu-link {
    border-color: transparent;
  }
}

/* Menu link states. */

.vertical-tabs__menu-link:focus {
  box-shadow: none;
  text-decoration: none;
  z-index: 4; /* Focus state should be on the highest level to make the focus effect be fully visible. This also means that it should have bigger z-index than the selected link. */
}

.vertical-tabs__menu-link:hover {
  color: #003cc5;
  text-decoration: none;
}

/* This pseudo element provides the background for the hover state. */

.vertical-tabs__menu-link::before {
  background-clip: padding-box;
  bottom: -1px;
  content: "";
  left: -4px; /* LTR */
  pointer-events: none;
  position: absolute;
  right: 0; /* LTR */
  top: -1px;
  z-index: 0; /* This should be on a lower level than the menu-item separator lines. */
}

.vertical-tabs__menu-link:hover::before {
  background: #f0f5fd;
}

.vertical-tabs__menu-link:focus::after {
  border: 3px solid #26a769;
  border-radius: 2px;
  bottom: 0;
  content: "";
  left: 0;
  margin: -1px -4px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link {
  background-color: #fff;
  border-color: rgba(216, 217, 224, 0.8) transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #003cc5;
  z-index: 3; /* The selected menu link should be on a higher level than the white masking line that hides the grey separator. */
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover {
  background-color: #f0f5fd;
  color: #0036b1;
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before {
  border-left: 4px solid #003cc5; /* LTR */
  border-radius: 2px 0 0 2px; /* LTR */
  z-index: 1; /* The blue active-tab indication should be on a higher level than the green focus border. */
}

[dir="rtl"]
  .vertical-tabs__menu-item.is-selected
  .vertical-tabs__menu-link::before {
  border-left: 0;
  border-radius: 0 2px 2px 0;
  border-right: 4px solid #003cc5;
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover::before {
  background: none;
}

@media screen and (-ms-high-contrast: active) {
  .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link {
    border-color: windowText transparent;
  }

  .vertical-tabs__menu-link:focus::after {
    border-color: transparent;
  }

  .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before {
    border-color: windowText;
  }
}

.vertical-tabs__menu-link-content {
  position: relative;
  z-index: 1; /* We are using a pseudo element for displaying the hover state's background, and we have to keep the link content above that pseudo element. Without this, the text would be covered by the background. */
}

/**
 * Details summary in vertical tabs menu link and in the summary of the details.
 */

.vertical-tabs__menu-link-summary,
.vertical-tabs__details-summary-summary {
  color: #545560;
  display: block;
  font-size: 0.889rem;
  font-weight: normal;
}

/**
 * Wrapper of vertical tabs panes.
 */

.vertical-tabs__items {
  background-color: #fff;
  border: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #222330;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

/* This modifier is added by JavaScript (this is inherited from Drupal core). */

.vertical-tabs__items--processed {
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  top: -1px;
  z-index: 1; /* The wrapper of the details of the vertical tabs should be on a higher level than the vertical tabs menu */
}

/* This clearfix makes the pane wrapper at least as tall as the menu. */

.vertical-tabs__items--processed::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 85em) {
  .vertical-tabs__items--processed {
    border-top-left-radius: 0; /* LTR */
    margin-left: 20em; /* LTR */
  }
}

/**
 * The actual vertical tabs pane.
 *
 * This is a claro-details element which in this case is also
 * vertical-tabs__item.
 */

/* Render on top of the border of vertical-tabs__items. */

.vertical-tabs__item {
  border-radius: 0;
  margin: -1px -1px 0;
}

.vertical-tabs__item--first {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.vertical-tabs__item--last {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-bottom: -1px;
}
