/** @define FskSelect; */

.FskSelect {
  appearance: none;
  background-color: var(--fsk-select-bg-color);
  background-image: var(--fsk-select-bg-image);
  background-position: var(--fsk-select-bg-position);
  background-repeat: no-repeat;
  background-size: var(--fsk-select-bg-size);
  border-radius: var(--fsk-select-border-radius);
  padding-right: var(--fsk-select-padding-right);
  text-indent: 1px;
  text-overflow: "";
  text-transform: none;
}
