/**
 * Extends styles of the file link.
 */

.file {
  background-position: left 0.0625rem;
  background-size: 1rem 1rem;
  font-size: 0.889rem;
  line-height: 1.125rem;
  min-height: 1.0625rem;
  padding-left: 1.5rem; /* LTR */
}

.file__size {
  color: #545560;
}

/**
 * Styles for the managed file widget.
 *
 * This includes the styles for the file widgets and the image widgets.
 */

.form-managed-file.no-upload {
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
}

.form-managed-file.has-value.is-multiple {
  display: block;
}

/**
 * The main element of the file/image widget.
 *
 * This contains the upload input and the upload of the empty file/image
 * widgets, or the file name (with icon and size) and the remove button of
 * filled widgets.
 *
 * The inline-flex display shrinks the width to the minimal needed amount. This
 * helps to keep the remove as close to the other elements as possible.
 */

.form-managed-file__main {
  align-items: center;
  display: inline-flex;
  max-width: 100%;
}

/**
 * Inside (draggable) tables, this should be flex-displayed. This keeps even
 * long file names in the same visual line where the drag handle is.
 */

.draggable .form-managed-file.has-value .form-managed-file__main {
  display: flex;
}

/* Add some bottom margin for single widgets if no meta is present. */

.form-managed-file.is-single.has-value .form-managed-file__main:last-child {
  margin-bottom: 1rem;
}

/**
 * The 'meta' element of the file/image widget.
 *
 * This element is available only if the file widget has a value AND when there
 * are other input options than the ones rendered in the 'main' element.
 * These inputs are:
 *  - File description and/or the file display checkbox of file widgets
 *  - Image alt and/or title text as well as the preview image of the image
 *    widgets.
 *
 * The trick here is that we will display the alt/title inputs next to the image
 * preview if there is enough space left. Enough space means the value of the
 * '--file-widget-form-item-min-width' variable.
 */

.form-managed-file__meta {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem; /* Bottom margin will be added by the child elements: because of we use flex display here, our margins won't collapse. */
}

/**
 * In tables, this should be inline-flex. This is needed to make this element be
 * pushed to a new line, to the bottom of the drag handle.
 */

.draggable .form-managed-file.has-value .form-managed-file__meta {
  display: inline-flex;
}

/**
 * The 'image preview' element.
 *
 * This is used and display only by the image widget.
 */

.form-managed-file__image-preview {
  flex: 0 0 auto;
  margin-bottom: 1rem;
  max-width: 100%;
}

/* Add some 'end' margin if there are other meta inputs. */

.form-managed-file.has-meta .form-managed-file__image-preview {
  margin-right: 1rem; /* LTR */
}

/**
 * If this is rendered inside a file multiple table and there are no alt or
 * title, we have to reduce the amount of the bottom margin.
 */

td .form-managed-file.no-meta .form-managed-file__image-preview {
  margin-bottom: 0.5rem;
}

/**
 * The children of the 'meta items' element are the inputs that were described
 * at the 'meta' element '.form-managed-file__meta', except of the image
 * preview.
 *
 * The flex-basis is set to the minimal width where we can display these inputs
 * next tho the preview image.
 *
 * We limit the max width directly on the '.form-item' elements.
 */

.form-managed-file__meta-items {
  flex: 1 1 16rem;
  max-width: 100%;
}

/**
 * Modify component defaults for file/image widgets.
 */

/**
 * File component style overrides for managed file widgets.
 */

.form-managed-file .file {
  hyphens: auto;
  word-break: break-all;
}

.form-managed-file .file__size {
  word-break: normal;
}

.form-managed-file__main .file {
  flex: 1 1 auto;
  margin: 0.5rem 1rem 0.5rem 0;
}

/**
 * Remove the default margins of buttons.
 * The '.button' selector is doubled for RTL layouts.
 */

.form-managed-file .button.button {
  margin: 0;
}

/**
 * The file upload input.
 */

.form-managed-file__main .form-element--api-file {
  flex: 1 1 auto;
  min-width: 1px; /* This makes the element to be shrinked on IE11 */
}

/**
 * This applies both on the 'no-js' upload button and the remove button.
 * We don't want to let these to be shrinked.
 */

.form-managed-file__main .button {
  flex: 0 0 auto;
}

/**
 * Limiting the width of form items inside the meta element.
 */

.form-managed-file__meta .form-item {
  margin-bottom: 1rem;
  margin-top: 0; /* Top margin is added by the parent element */
  max-width: 32rem;
}

/**
 * Reduce the bottom margin of the last 'meta' form-item for field multiple
 * tables.
 */

.form-managed-file__meta .form-item:last-child {
  margin-bottom: 0.5rem;
}

.form-managed-file__meta .form-element {
  width: 100%;
}

/**
 * Add side margins if a table precedes the managed file form element.
 */

.file-widget-multiple.has-table .form-type--managed-file {
  margin-left: 1rem;
  margin-right: 1rem;
}
