/** @define FskStatusMessages; */

.FskStatusMessages {
  background: var(--fsk-status-messages-bg-color);
  border: 1px solid currentColor;
  color: var(--fsk-status-messages-text-color);
  margin: 2em 0;
  padding: 1em;
}

.FskStatusMessages--error {
  background-color: var(--fsk-status-messages--error-bg-color);
  color: var(--fsk-status-messages--error-text-color);
}

.FskStatusMessages-list {
  list-style: disc;
  margin-left: 1em;
}
