/** @define FskRadio; */

/* stylelint-disable-next-line */
.FskRadio + .FskFormElementLabel {
  color: var(--fsk-input-radio-label-color);
  display: flex;
  font-size: var(--fsk-input-radio-label-font-size);
  font-weight: var(--fsk-input-radio-label-font-weight);
  padding-bottom: 0;
}

/* stylelint-disable-next-line */
.FskRadio + .FskFormElementLabel::before {
  border: var(--fsk-input-radio-border);
  border-radius: var(--fsk-input-radio-border-radius);
  content: "";
  display: block;
  flex-shrink: 0;
  height: var(--fsk-input-radio-size);
  margin: var(--fsk-input-radio-margin);
  width: var(--fsk-input-radio-size);
}

.FskRadio:not([disabled]) + .FskFormElementLabel:hover::before,
.FskRadio:not([disabled]):focus + .FskFormElementLabel::before {
  box-shadow: var(--fsk-input-radio-shadow);
}

.FskRadio:not([disabled]):checked + .FskFormElementLabel::before {
  background: var(--fsk-input-radio--checked-bg-color)
    radial-gradient(var(--fsk-input-radio-dot-color) 24%, transparent 26%);
}

.FskRadio:disabled + .FskFormElementLabel .FskFormElementLabel-text {
  opacity: var(--fsk-input-radio--disabled-label-opacity);
}

.FskRadio:disabled + .FskFormElementLabel::before {
  background: var(--fsk-input-radio--disabled-bg-color);
  border-color: var(--fsk-input-radio--disabled-border-color);
}

/* stylelint-disable-next-line */
.FskRadio.error + .FskFormElementLabel::before {
  border: var(--fsk-input-radio--error-border);
}
