/** @define FskFormElementLabel; */

.FskFormElementLabel {
  color: var(--fsk-input-label-color);
  font-size: var(--fsk-input-label-font-size);
  font-weight: var(--fsk-input-label-font-weight);
  padding: var(--fsk-input-label-padding);
}
