.FskMenuLocalTask {
  flex: 1;
}

.FskMenuLocalTask a {
  color: var(--fsk-tabs-link-color);
  display: block;
  padding: var(--fsk-tabs-link-padding);
  position: relative;
  text-decoration: none;
}

.FskMenuLocalTask .is-active {
  font-weight: var(--fsk-tabs-link--active-font-weight);
}

.FskMenuLocalTask .is-active::after {
  background: var(--fsk-tabs-link--active-border-color);
  bottom: 0;
  content: "";
  height: var(--fsk-tabs-link--active-border-size);
  left: 0;
  position: absolute;
  right: 0;
}
