:root {
  /*
   * Color Palette
   */
  --fsk-color-regent-gray: #949ea8;
  --fsk-color-cerulean: #0096db;
  --fsk-color-geyser: #cad5e0;
  --fsk-color-grey: #9fb5ca;
  --fsk-color-mine-shaft: #2a2a2a;
  --fsk-color-catskill-white: #f5f7fa;
  --fsk-color-white: #fff;
  --fsk-color-burning-orange: #ff6f40;
  --fsk-color-burning-orange-light: #fff1ed;

  /*
   * Common
   */
  --fsk-base-box-shadow: 0 0.125em 0.25em 0 var(--fsk-color-geyser);
  --fsk-base-border-radius: 0;
  --fsk-opacity-disabled-label: 0.4;
  --fsk-error-color: var(--fsk-color-burning-orange);
  --fsk-error-color-light: var(--fsk-color-burning-orange-light);

  /*
   * Typography
   */
  --fsk-font-size-base: 0.875em;
  --fsk-font-size-small: 0.75em;
  --fsk-line-height-base: 1.2;

  /**
   * Spaces
   */
  --fsk-space-base: 0.5em;
  --fsk-space-0_5: calc(0.5 * var(--fsk-space-base));
  --fsk-space-1: var(--fsk-space-base);
  --fsk-space-2: calc(2 * var(--fsk-space-base));
  --fsk-space-3: calc(3 * var(--fsk-space-base));
  --fsk-space-4: calc(4 * var(--fsk-space-base));

  /*
   * Inputs
   */
  --fsk-input-font-family: inherit;
  --fsk-input-font-size: 0.9375em;
  --fsk-input-line-height: 1.33;
  --fsk-input-border-color: var(--fsk-color-geyser);
  --fsk-input-border-width: 1px;
  --fsk-input-color: inherit;
  --fsk-input-padding-y: 1em;
  --fsk-input-padding-x: 1em;
  --fsk-input-padding: var(--fsk-input-padding-y) var(--fsk-input-padding-x);
  --fsk-input-box-shadow: var(--fsk-base-box-shadow);
  --fsk-input--focus-border-color: var(--fsk-color-mine-shaft);
  --fsk-input--focus-border-width: 2px;
  --fsk-input--focus-padding-bottom: calc(
    var(--fsk-input-padding-y) -
      calc(var(--fsk-input--focus-border-width) - var(--fsk-input-border-width))
  );
  --fsk-input--disabled-bg-color: var(--fsk-color-catskill-white);
  --fsk-input--disabled-bg-opacity: 0.4;
  --fsk-input--disabled-border-color: var(--fsk-color-catskill-white);
  --fsk-input--disabled-color: var(--fsk-color-regent-gray);
  --fsk-input-placeholder-color: currentColor;
  --fsk-input-placeholder-opacity: 0.4;
  --fsk-input--error-border-color: var(--fsk-error-color);
  --fsk-input--error-border-width: 2px;
  --fsk-input--error-padding-bottom: calc(
    var(--fsk-input-padding-y) -
      calc(var(--fsk-input--error-border-width) - var(--fsk-input-border-width))
  );

  /*
   * Textarea
   */
  --fsk-input-textarea-height: 9em;

  /*
   * Checkboxes
   */
  --fsk-input-checkbox-label-color: inherit;
  --fsk-input-checkbox-label-font-size: var(--fsk-font-size-base);
  --fsk-input-checkbox-label-font-weight: normal;
  --fsk-input-checkbox-border-color: var(--fsk-color-geyser);
  --fsk-input-checkbox-border: 1px solid var(--fsk-input-checkbox-border-color);
  --fsk-input-checkbox-size: 1.5em;
  --fsk-input-checkbox--checked-color: var(--fsk-color-white);
  --fsk-input-checkbox-margin: 0 0.75em 0 0;
  --fsk-input-checkbox-shadow: var(--fsk-base-box-shadow);
  --fsk-input-checkbox--checked-bg-color: currentColor;
  --fsk-input-checkbox--checked-bg-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.7949219,7.095703 6.1816406,9.601563 12.205078,3.2753906 13.689453,4.8359375 6.1816406,12.724609 2.3105469,8.65625 Z' fill='white'/%3E%3C/svg%3E");
  --fsk-input-checkbox--checked-border-color: var(
    --fsk-input-checkbox-border-color
  );
  --fsk-input-checkbox--disabled-label-color: var(--fsk-color-geyser);
  --fsk-input-checkbox--disabled-label-opacity: var(
    --fsk-opacity-disabled-label
  );
  --fsk-input-checkbox--disabled-bg-color: var(--fsk-color-catskill-white);
  --fsk-input-checkbox--disabled-border-color: var(--fsk-color-catskill-white);
  --fsk-input-checkbox--error-border-color: var(--fsk-error-color);
  --fsk-input-checkbox--error-border: 1px solid
    var(--fsk-input-checkbox--error-border-color);

  /*
   * Input description
   */
  --fsk-input-description-color: var(--fsk-color-cerulean);
  --fsk-input-description-font-size: var(--fsk-font-size-small);
  --fsk-input-description-margin: 0.35em 0 0;

  /*
   * Input error message
   */
  --fsk-input-error-message-color: var(--fsk-error-color);
  --fsk-input-error-message-font-size: var(--fsk-font-size-small);

  /*
   * Input label
   */
  --fsk-input-label-color: var(--fsk-color-regent-gray);
  --fsk-input-label-padding: 0 0 0.35em;
  --fsk-input-label-font-size: var(--fsk-font-size-small);
  --fsk-input-label-font-weight: normal;
  --fsk-input-label-required-hint-color: currentColor;

  /*
   * Radios
   */
  --fsk-input-radio-label-color: inherit;
  --fsk-input-radio-label-font-size: var(--fsk-font-size-base);
  --fsk-input-radio-label-font-weight: normal;
  --fsk-input-radio-border: 1px solid var(--fsk-color-geyser);
  --fsk-input-radio-border-radius: 50%;
  --fsk-input-radio-size: 1.75em;
  --fsk-input-radio--checked-color: var(--fsk-color-white);
  --fsk-input-radio-margin: 0 0.75em 0 0;
  --fsk-input-radio-shadow: var(--fsk-base-box-shadow);
  --fsk-input-radio-dot-color: var(--fsk-color-white);
  --fsk-input-radio--checked-bg-color: currentColor;
  --fsk-input-radio--disabled-label-color: var(--fsk-color-geyser);
  --fsk-input-radio--disabled-label-opacity: var(--fsk-opacity-disabled-label);
  --fsk-input-radio--disabled-bg-color: var(--fsk-color-catskill-white);
  --fsk-input-radio--disabled-border-color: var(--fsk-color-catskill-white);
  --fsk-input-radio--error-border-color: var(--fsk-error-color);
  --fsk-input-radio--error-border: 1px solid
    var(--fsk-input-radio--error-border-color);

  /**
   * Range
   */
  --fsk-input-range-margin: var(--fsk-space-2) 0;
  --fsk-input-range-width: 100%;
  --fsk-input-range-track-bg-color: currentColor;
  --fsk-input-range-track-border-radious: var(--fsk-base-border-radius);
  --fsk-input-range-track-border: 1px solid var(--fsk-color-geyser);
  --fsk-input-range-track-box-shadow: var(--fsk-base-box-shadow);
  --fsk-input-range-track-height: var(--fsk-space-1);
  --fsk-input-range-slider-thumb-height-bg-color: var(--fsk-color-white);
  --fsk-input-range-slider-thumb-border: 1px solid var(--fsk-color-geyser);
  --fsk-input-range-slider-thumb-border-radius: var(--fsk-base-border-radius);
  --fsk-input-range-slider-thumb-box-shadow: var(--fsk-base-box-shadow);
  --fsk-input-range-slider-thumb-height: var(--fsk-space-4);
  --fsk-input-range-slider-thumb-width: var(--fsk-space-2);

  /**
   * Selects
   */
  --fsk-select-bg-color: var(--fsk-color-white);
  --fsk-select-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%23545560'/%3E%3C/svg%3E%0A");
  --fsk-select-bg-position: calc(100% - 1em) 50%;
  --fsk-select-bg-size: 1em;
  --fsk-select-border-radius: var(--fsk-base-border-radius);
  --fsk-select-padding-right: var(--fsk-space-4);

  /**
   * Buttons
   */
  --fsk-button-color: var(--fsk-color-white);
  --fsk-button-disabled-color: var(--fsk-color-regent-gray);
  --fsk-button-bg-color: var(--fsk-color-mine-shaft);
  --fsk-button-bg-image: none;
  --fsk-button-bg-position: none;
  --fsk-button-bg-repeat: none;
  --fsk-button-bg-size: none;
  --fsk-button--disabled-bg-color: var(--fsk-color-catskill-white);
  --fsk-button-border-radius-size: var(--fsk-base-border-radius);
  --fsk-button-font-size: 1em;
  --fsk-button-font-weight: 700;
  --fsk-button-line-height: 1;
  --fsk-button-margin: 1em 0.75em 1em 0;
  --fsk-button-border-width: 1px;
  --fsk-button-padding-x: 1.5em;
  --fsk-button-padding-y: 1em;
  --fsk-button-padding: calc(
      var(--fsk-button-padding-y) - var(--fsk-button-border-width)
    )
    calc(var(--fsk-button-padding-x) - var(--fsk-button-border-width)); /* padding widths detracted by width of the transparent borders to make button size match with design system */
  --fsk-button-box-shadow: var(--fsk-base-box-shadow);

  /**
   * Pager
   */
  --fsk-pager-margin: 1em 0;
  --fsk-pager-font-size: var(--fsk-font-size-small);
  --fsk-pager-item-margin: 0 var(--fsk-space-1);
  --fsk-pager-item--ellipsis-margin: 0 var(--fsk-space-2);
  --fsk-pager-item-border: 1px solid var(--fsk-color-geyser);
  --fsk-pager-item-box-shadow: var(--fsk-base-box-shadow);
  --fsk-pager-item-color: var(--fsk-color-mine-shaft);
  --fsk-pager-item--active-bg-color: currentColor;
  --fsk-pager-item--active-border-color: var(--fsk-color-mine-shaft);
  --fsk-pager-link-color: var(--fsk-color-mine-shaft);
  --fsk-pager-link-padding: 0.75em 0.9em;
  --fsk-pager-link--active-color: var(--fsk-color-white);
  --fsk-pager-line-height: 1;

  /**
   * Tabs
   */
  --fsk-tabs-border: solid var(--fsk-color-geyser);
  --fsk-tabs-border-width: 0 0 1px;
  --fsk-tabs-margin: 0 0 var(--fsk-space-3);
  --fsk-tabs-link-color: inherit;
  --fsk-tabs-link-padding: var(--fsk-space-3) 0;
  --fsk-tabs-link--active-font-weight: bold;
  --fsk-tabs-link--active-border-color: var(--fsk-color-geyser);
  --fsk-tabs-link--active-border-size: 2px;

  /**
   * Status messages
   */
  --fsk-status-messages-text-color: var(--fsk-color-cerulean);
  --fsk-status-messages-bg-color: var(--fsk-color-catskill-white);
  --fsk-status-messages--error-text-color: var(--fsk-error-color);
  --fsk-status-messages--error-bg-color: var(--fsk-error-color-light);

  /**
   * Breadcrumbs
   */
  --fsk-breadcrumb-link-font-size: 0.875em;
  --fsk-breadcrumb-link-color: var(--fsk-color-grey);
  --fsk-breadcrumb-link-color--hover: var(--fsk-color-grey);
  --fsk-breadcrumb-link-color--active: var(--fsk-color-mine-shaft);
  --fsk-breadcrumb-link-font-weight--active: bold;
}
