/** @define FskFormElement; */

.FskFormElement {
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--fsk-space-3);
}

.FskFormElement-description {
  color: var(--fsk-input-description-color);
  font-size: var(--fsk-input-description-font-size);
  margin: var(--fsk-input-description-margin);
}

.FskFormElement-errorMessage {
  color: var(--fsk-input-error-message-color);
  font-size: var(--fsk-input-error-message-font-size);
}
