/* @define FskBreadcrumb; */

.FskBreadcrumb-list {
  display: flex;
  font-size: var(--fsk-breadcrumb-link-font-size);
  list-style: none;
  margin: 0;
  padding: 0;
}

.FskBreadcrumb-link {
  color: var(--fsk-breadcrumb-link-font-size);
  text-decoration: none;
}

.FskBreadcrumb-link:hover,
.FskBreadcrumb-link:focus {
  color: var(--fsk-breadcrumb-link-color--hover);
}

.FskBreadcrumb-link--current {
  color: var(--fsk-breadcrumb-link-color--active);
  font-weight: var(--fsk-breadcrumb-link-font-weight--active);
  pointer-events: none;
}

.FskBreadcrumb-icon {
  display: inline-block;
  fill: none;
  font-size: 0.714285714em;
  height: 1em;
  width: 0.6em;
}

/* stylelint-disable-next-line */
.FskBreadcrumb-icon path {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}
