{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav class="FskBreadcrumb" aria-label="{{ 'Breadcrumb'|t }}">
    <ol class="FskBreadcrumb-list">
    {% for item in breadcrumb %}
      <li class="FskBreadcrumb-item"{% if not item.url %} aria-current="true"{% endif %}>
        {% if item.url %}
          <a href="{{ item.url }}" class="FskBreadcrumb-link">
            {% if not loop.index == 1 %}
              <svg class="FskBreadcrumb-icon" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                <path d="M1 9l4-4-4-4"></path>
              </svg>
            {% endif %}
          {{ item.text }}</a>
        {% else %}
          <span class="FskBreadcrumb-link FskBreadcrumb-link--current">
            {% if not loop.index == 1 %}
              <svg class="FskBreadcrumb-icon" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                <path d="M1 9l4-4-4-4"></path>
              </svg>
            {% endif %}
            {{ item.text }}
          </span>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
