/** @define FskRange; */

.FskRange {
  appearance: none;
  color: var(--fsk-input-range-track-bg-color);
  margin: var(--fsk-input-range-margin);
  width: var(--fsk-input-range-width);
}

.FskRange::-webkit-slider-runnable-track {
  background: var(--fsk-input-range-track-bg-color);
  border: var(--fsk-input-range-track-border);
  border-radius: var(--fsk-input-range-track-border-radious);
  box-shadow: var(--fsk-input-range-track-box-shadow);
  cursor: pointer;
  height: var(--fsk-input-range-track-height);
  width: 100%;
}

.FskRange::-webkit-slider-thumb {
  -webkit-appearance: none; /* stylelint-disable-line */
  background: var(--fsk-input-range-slider-thumb-height-bg-color);
  border: var(--fsk-input-range-slider-thumb-border);
  border-radius: var(--fsk-input-range-slider-thumb-border-radius);
  box-shadow: var(--fsk-input-range-slider-thumb-box-shadow);
  cursor: pointer;
  height: var(--fsk-input-range-slider-thumb-height);
  transform: translateY(-40%);
  width: var(--fsk-input-range-slider-thumb-width);
}

.FskRange:focus::-webkit-slider-runnable-track {
  background: var(--fsk-input-range-track-bg-color);
}

.FskRange::-moz-range-track {
  background: var(--fsk-input-range-track-bg-color);
  border: var(--fsk-input-range-track-border);
  border-radius: var(--fsk-input-range-track-border-radious);
  box-shadow: var(--fsk-input-range-track-box-shadow);
  cursor: pointer;
  height: var(--fsk-input-range-track-height);
  width: 100%;
}

.FskRange::-moz-range-thumb {
  background: var(--fsk-input-range-slider-thumb-height-bg-color);
  border: var(--fsk-input-range-slider-thumb-border);
  border-radius: var(--fsk-input-range-slider-thumb-border-radius);
  box-shadow: var(--fsk-input-range-slider-thumb-box-shadow);
  cursor: pointer;
  height: var(--fsk-input-range-slider-thumb-height);
  width: var(--fsk-input-range-slider-thumb-width);
}

.FskRange::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: var(--fsk-input-range-track-height);
  width: 100%;
}

.FskRange::-ms-fill-lower {
  background: var(--fsk-input-range-track-bg-color);
  border: var(--fsk-input-range-track-border);
  border-radius: var(--fsk-input-range-track-border-radious);
  box-shadow: var(--fsk-input-range-track-box-shadow);
}

.FskRange::-ms-fill-upper {
  background: var(--fsk-input-range-track-bg-color);
  border: var(--fsk-input-range-track-border);
  border-radius: var(--fsk-input-range-track-border-radious);
  box-shadow: var(--fsk-input-range-track-box-shadow);
}

.FskRange::-ms-thumb {
  background: var(--fsk-input-range-slider-thumb-height-bg-color);
  border: var(--fsk-input-range-slider-thumb-border);
  border-radius: var(--fsk-input-range-slider-thumb-border-radius);
  box-shadow: var(--fsk-input-range-slider-thumb-box-shadow);
  cursor: pointer;
  height: var(--fsk-input-range-track-height);
  width: var(--fsk-input-range-slider-thumb-width);
}

.FskRange:focus::-ms-fill-lower {
  background: var(--fsk-input-range-track-bg-color);
}

.FskRange:focus::-ms-fill-upper {
  background: var(--fsk-input-range-track-bg-color);
}
