@import "./menu-local-task/menu-local-task.css";

/**
 * Tabs
 */

.FskMenuLocalTasks {
  border: var(--fsk-tabs-border);
  border-width: var(--fsk-tabs-border-width);
  display: flex;
  list-style: none;
  margin: var(--fsk-tabs-margin);
  padding: 0;
}
