/**
 * Dropbutton styles.
 *
 * 1. Transparent border is needed for high contrast mode. The border-width has
 *    to be set with !important to render borders with the defined width in high
 *    contrast mode Firefox.
 */

.dropbutton-wrapper {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  display: inline-flex;
}

.form-actions .dropbutton-wrapper {
  margin: 0.5rem 1rem 0.5rem 0;
}

.dropbutton-widget {
  flex: 1 1 auto;
  position: relative;
}

/**
 * Dropbutton list.
 */

.dropbutton {
  display: block;
  list-style: none;
  margin: 0;
  overflow: visible;
}

/**
 * Dropbutton toggler.
 */

.dropbutton__toggle {
  appearance: none;
  background: #d4d4d8;
  border: 1px solid transparent !important; /* 1 */
  border-radius: 0 2px 2px 0;
  bottom: 0;
  font-size: 1px; /* iOS Safari sets a minimum button-width based on font-size. */
  height: 3rem;
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 3rem;
  z-index: 3;
}

.dropbutton__toggle::before {
  background: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.2384999,1.9384769 1.646703,0.5166019 7.0002189,5.8193359 12.353735,0.5166019 13.761938,1.9384769 7.0002189,8.635742Z' fill='%23222330'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: contain;
  content: "";
  height: 0.5625rem;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%) rotate(0);
  width: 0.875rem;
}

/* Toggler states. */

.dropbutton__toggle:hover {
  background-color: #c2c3ca;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: #222330;
}

.dropbutton__toggle:focus {
  z-index: 2;
}

.dropbutton__toggle:active {
  background-color: #adaeb3;
  color: #222330;
}

.dropbutton-wrapper.open .dropbutton__toggle::before {
  transform: translate(50%, -50%) rotate(180deg);
}

/**
 * Item in the first dropbutton list item (that looks like a button).
 *
 * Duplicates base button styles.
 */

.dropbutton__item:first-of-type > * {
  appearance: none;
  background-color: #d4d4d8;
  border: 1px solid transparent !important; /* 1 */
  border-radius: 2px;
  color: #222330;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1rem;
  margin: 0;
  padding: calc(1rem - 1px) calc(1.5rem - 1px);
  text-align: center;
  text-decoration: none;
}

.dropbutton--multiple .dropbutton__item:first-of-type > * {
  padding-left: calc(1rem - 1px);
  padding-right: calc(1rem - 1px);
}

.dropbutton__item:first-of-type > *:hover,
.dropbutton__item:first-of-type > .button:hover {
  background-color: #c2c3ca;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: #222330;
  text-decoration: none;
}

.dropbutton__item:first-of-type > *:focus:hover,
.dropbutton__item:first-of-type > .button:focus:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}

.dropbutton__item:first-of-type > *:focus {
  text-decoration: none;
}

.dropbutton__item:first-of-type > *:active {
  background-color: #adaeb3;
  color: #222330;
}

.dropbutton--multiple .dropbutton__item:first-of-type > * {
  position: relative;
  z-index: 3;
}

.dropbutton--multiple .dropbutton__item:first-of-type > *:focus {
  z-index: 2;
}

.dropbutton > .dropbutton__item > a,
.dropbutton > .dropbutton__item > .button {
  box-sizing: border-box;
  display: block;
  margin: 0;
  text-align: left;
  width: 100%;
}

/**
 * Non-first dropbutton list elements.
 */

.dropbutton__item:first-of-type ~ .dropbutton__item {
  border: 1px solid #d4d4d8;
  border-bottom: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.dropbutton__item:first-of-type ~ .dropbutton__item ~ .dropbutton__item {
  border-top: 0;
}

.dropbutton__item ~ .dropbutton__item:last-child {
  border-bottom: 1px solid #d4d4d8;
  border-radius: 0 0 2px 2px;
}

/**
 * Dropbutton items of non-first dropbutton list elements.
 */

.dropbutton__item:first-of-type ~ .dropbutton__item > a,
.dropbutton__item:first-of-type ~ .dropbutton__item > .button {
  background: #fff;
  border: 1px solid transparent !important; /* 1 */
  border-radius: 2px;
  box-shadow: 0;
  color: #545560;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 1rem;
  padding: calc(1rem - 1px);
  position: relative;
  text-decoration: none;
}

/**
 * Set the the inherited button border color to transparent for high contrast
 * mode.
 */

@media screen and (-ms-high-contrast: active) {
  .dropbutton__item:first-of-type ~ .dropbutton__item > a,
  .dropbutton__item:first-of-type ~ .dropbutton__item > .button {
    border-color: transparent !important;
  }
}

.dropbutton__item:first-of-type ~ .dropbutton__item > a:not(:focus),
.dropbutton__item:first-of-type ~ .dropbutton__item > .button:not(:focus) {
  z-index: 1;
}

/* States. */

.dropbutton__item > *:focus {
  position: relative;
  z-index: 3;
}

.dropbutton__item:first-of-type ~ .dropbutton__item > *:hover {
  background: #f3f4f9;
  color: #222330;
}

.dropbutton__item > .button:not(:focus) {
  box-shadow: none;
}

.dropbutton__item:first-of-type ~ .dropbutton__item > *:focus {
  border-color: #26a769 !important; /* 1 */
  box-shadow: inset 0 0 0 1px #26a769, 0 0 0 1px #26a769;
}
