/** @define FskDateTimeForm; */

.FskDateTimeForm {
  display: flex;
}

/* stylelint-disable-next-line */
.FskDateTimeForm > * {
  flex: 1 0 0;
}

/* stylelint-disable-next-line */
.FskDateTimeForm > *:not(:last-child) {
  margin-right: var(--fsk-space-2);
}
