/** @define FskButton; */

/**
 * Buttons, apply these classes to button elements
 * (<button>, <input type="button" />).
 */

/**
 * Buttons.
 *
 * 1. Transparent border is needed for high contrast mode. This has to be set to
 *    !important to render Firefox borders with consistent width in high
 *    contrast mode.
 * 2. Prevent fat text in WebKit.
 */

.FskButton {
  appearance: none;
  background-color: var(--fsk-button-bg-color);
  background-image: var(--fsk-button-bg-image);
  background-position: var(--fsk-button-bg-position);
  background-repeat: var(--fsk-button-bg-repeat);
  background-size: var(--fsk-button-bg-size);
  border: var(--fsk-button-border-width) solid transparent !important; /* 1 */
  border-radius: var(--fsk-button-border-radius-size);
  color: var(--fsk-button-color);
  cursor: pointer;
  display: inline-block;
  font-size: var(--fsk-button-font-size);
  -webkit-font-smoothing: antialiased; /* 2 */
  font-weight: var(--fsk-button-font-weight);
  line-height: var(--fsk-button-line-height);
  margin: var(--fsk-button-margin);
  padding: var(--fsk-button-padding);
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.FskButton:not([disabled]):focus,
.FskButton:not([disabled]):hover {
  box-shadow: var(--fsk-button-box-shadow);
}

.FskButton:disabled,
.FskButton.is-disabled {
  background-color: var(--fsk-button--disabled-bg-color);
  color: var(--fsk-button-disabled-color);
}

/* Make disabled <link> behave like a [disabled] <input> or <button> */

.FskButton.is-disabled {
  pointer-events: none;
  user-select: none;
}
