/** @define FskFieldset; */

.FskFieldset {
  background-color: #fff;
  border: var(--fsk-input-border-width) solid var(--fsk-input-border-color);
  margin: 1rem 0;
  min-width: 0;
  padding: 0;
}

.FskFieldset--group {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
}

/* IE workaround. */

/* stylelint-disable-next-line */
_:-ms-fullscreen,
.FskFieldset {
  box-sizing: border-box;
  display: table;
  width: 100%;
}

/**
 * Fieldset legend.
 */

.FskFieldset-legend {
  color: #545560;
  display: contents; /* For Firefox. */
  float: left; /* iOS Safari, Android Chrome, Edge. */
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%; /* iOS Safari, Android Chrome, Edge. */
}

@media screen and (min-width: 48em) {
  .FskFieldset-legend {
    margin-bottom: 1.5rem;
  }
}

.FskFieldset-legend--composite {
  color: inherit;
  float: none;
  font-size: 0.889rem; /* 14px */
  line-height: 1.125rem; /* 18px */
  margin-bottom: 0.25rem; /* 4px */
  margin-top: 0; /* IE11 and Edge do not collapse this margin. Ideally this would be 4px */
  width: auto;
}

/* This is used only on install configure form. */

.FskFieldset-legend--group {
  color: inherit;
  text-transform: uppercase;
}

.FskFieldset-label {
  display: block;
  line-height: 1rem;
  padding: 1rem;
}

.FskFieldset-label--group {
  line-height: inherit;
  padding: 0;
}

.FskFieldset-label.is-disabled {
  color: #82828c;
}

/* stylelint-disable-next-line */
.FskFieldset-label.has-error {
  color: #d72222;
}

.FskFieldset-description {
  color: #545560;
  font-size: 0.79rem; /* ~13px */
  line-height: 1.0625rem; /* 17px */
  margin-bottom: 0.375rem; /* 6px */
  margin-top: 0.375rem; /* 6px */
}

.FskFieldset-description.is-disabled {
  color: #82828c;
}

/* Error message (Inline form errors). */

.FskFieldset-errorMessage {
  color: #d72222;
  font-size: 0.79rem; /* ~13px */
  font-weight: normal;
  line-height: 1.0625rem; /* 17px */
  margin-bottom: 0.375rem; /* 6px */
  margin-top: 0.375rem; /* 6px */
}

.FskFieldset-wrapper {
  margin: 1rem;
}

.FskFieldset-legend--visible ~ .FskFieldset-wrapper {
  margin-top: 0;
}

.FskFieldset-wrapper--group {
  margin: 0;
}
